/first_app/*
/first_app/

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
/sample_app/config/initializers/secret_token.rb
/sample_app/spec/requests/.#static_pages_spec.rb
/sample_app/spec/requests/#static_pages_spec.rb#
/sample_app/app/views/static_pages/.#about.html.erb
/sample_app/app/assets/images/photo-martin.jpg
/sample_app/app/assets/stylesheets/.sass-cache/699c42bd16fd3837aff5a2517eb9126daf262b1a/custom.css.scssc
/sample_app/app/assets/stylesheets/.sass-cache/9a3c4552f7ddb1165cc5a7c1a5c782eb549c02df/custom.css.scssc
/sample_app/app/assets/stylesheets/.sass-cache/c54446326b20e7c8e38c1fd1053e9d04c121021a/custom.css.scssc
/sample_app/app/assets/stylesheets/.sass-cache/59e88d4a3f43306103153a3cb477916b4095128a/custom.css.scssc
/sample_app/app/assets/stylesheets/.sass-cache/80bcc4ef486a9becdb92e8477770ee90fa9fb52f/custom.css.scssc
/sample_app/app/assets/stylesheets/.sass-cache/8e98fd3bc1ce4221535fd3b30af209904ad38206/custom.css.scssc
/sample_app/app/assets/stylesheets/.sass-cache/d2e23e611f251eab8df88f0fc7faf5c50d93f590/custom.css.scssc
/sample_app/app/assets/stylesheets/.sass-cache/e2fd9d4a6aa5835569c8d220a0086ad66925026d/custom.css.scssc
/sample_app/app/assets/stylesheets/.sass-cache/1872747e21b58b7954dc445d02c8baa31be96b87/custom.css.scssc
/sample_app/app/assets/stylesheets/.sass-cache/985ae3be5a2e0c2103e5004edb9a1e1efa9a7825/custom.css.scssc
/sample_app/app/assets/stylesheets/.sass-cache/c74ea3021741de0b9f6e1c2be51a06c530a1c278/custom.css.scssc
/sample_app/db/migrate/20140104093616_add_remember_token_to_users.rb
/sample_app/spec/models/#user_spec.rb#
